<section ng-controller="myCtrl">
  <header>
    <h2>Программа-словарь версия 0.000000002</h2>
  </header>
  <a href="#vocs">На главную</a></br>
  <a href="#addword">Добавить слово</a></br>
  <a href="#addvocab">Добавить словарь</a></br>
  <div ng-view></div>
</section>
